{% extends 'base.html' %}
{% load static %}
{% load tz %}
{% block title %}Day by day{% endblock %}
{% block day_by_day %}
<div class="row">
    <div class="container-fluid col-3" style="margin-top:2em">
        <ul class="list-group">
            {% for transaction in transactions_list %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {{ transaction.date_operation }}
                {{ transaction.category__category }}
                <span>{{ transaction.transaction_total }}</span>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="container-fluid col-3" style="margin-top:2em">
        <ul class="list-group">
            {% for category in categories_list %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {{ category.category }}
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="container-fluid col-md-6" id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
</div>
<script src="https://code.highcharts.com/highcharts.src.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script>
    Highcharts.chart('container', {
      chart: {
        type: 'spline'
      },
      title: {
        text: 'Snow {{operation}} for the period {{start_date}}-{{end_date}}'
      },
      xAxis: {
        type: 'datetime',
        dateTimeLabelFormats: { // don't display the dummy year
            day:'%e-%B-%Y'
        },
        title: {
          text: 'Date'
        }
      },
      yAxis: {
        title: {
          text: 'Snow {{operation}}'
        },
        min: 0
      },
      tooltip: {
        headerFormat: '<b>{series.name}</b><br>',
        pointFormat: '{point.x:%A, %b %e, %Y}: {point.y:.2f}'
      },

      plotOptions: {
        spline: {
          marker: {
            enabled: true
          }
        }
      },

      colors: ['#db2a2a', '#167536', '#0a62ba', '#b0e31e', '#000'],
      series: [{%for category in categories_list %}{
          name: '{{category.category}}',
          data: [
          {%for transaction in transactions_list %}
          {%if transaction.category__category == category.category %}
          [Date.parse('{{transaction.date_operation}}'), {{ transaction.transaction_total }}],
          {% endif %}
          {% endfor %}
          ]
      },{%endfor%}
      ]
    });
</script>
{% endblock %}
